/* Global CSS Reset */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

* {
  box-sizing: border-box; /* Ensure padding and border are included in element dimensions */
}